{% extends 'base.html.twig' %}
{% block title %}Welcome!{% endblock %}
{% block hero %}
    {% set content %}
        <h1>Welcome to PHP Hampshire</h1>
        <p>PHP Hampshire is a PHP User Group aiming to help people learn, share our knowledge and support the PHP
            community in Hampshire.</p>
        <a class="register-button" href="{{ url('meetups') }}">Our next meetup</a>
    {% endset %}
    {% include 'partials/hero.html.twig' with {'content': content} %}
{% endblock %}
{% block body %}
    <section>
        <h1>Our meetups...</h1>
        <p>Our meetups take place on every <strong>2<sup>nd</sup> Wednesday of the month from 7pm at the <a
                        href="http://goo.gl/maps/ET78d">Oasis Conference Centre (Arundel Street)</a> in
                Portsmouth</strong>.</p>
        <p>To be notified of meetups by email, please <a href="">subscribe</a>.
        </p>
        <p>We care about creating a safe environment for everyone, you can read our <a href="">code of conduct</a> for
            more information.
        </p>
        <p><a href="">Check our Meetups page for how to register &raquo;</a></p>
    </section>

    <section>
        <h1>Support Us</h1>
        <p>Please support your local PHP user group in Hampshire by donating to help shape future events!</p>
        {% include "partials/paypal.html.twig" %}
    </section>

{% endblock %}