.nav-button {
  flex: 1;
  justify-self: flex-end;
  color: white;
  width: 5em;
  font-size: 1.5em;
  text-align: right;
  display: flex;
  &:before {
    content: ' ';
    width: 25px;
    background-size: contain;
    display: block;
    margin-right: 6px;
    background: url('../images/menu.svg') no-repeat right;
  }
}

@media (max-width: 768px) {
  .nav-button {
    display: flex;
    float: right;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100%);
    background: $mariner;
    color: #fff;
    height: 3em;
    z-index: 151;
    line-height: 3em;
    font-size: 1em;
    &:before {
      background-size: 1.3em;
    }
  }
  .app-menu {
    padding-bottom: 3.5rem;
  }
}

.menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 150;
  font-size: calc(100vh * 0.03);
}

.menu--visible {
  pointer-events: auto;
}

.app-menu {
  background-color: $mariner;
  position: relative;
  width: 80%;
  height: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  will-change: transform;
  z-index: 160;
  pointer-events: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  li {
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    will-change: background;
    transition: background-color 333ms linear;
    background-color: rgba(255,255,255,0);
    &:hover {
      background-color: rgba(255,255,255,0.1);
      transition: background-color 333ms linear;
    }
    a {
      color: white;
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
    }
  }
}

.menu--visible .app-menu {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  will-change: transform;
}

.menu--animatable .app-menu {
  transition: transform 333ms linear;
}

.menu--visible.menu--animatable .app-menu {
  transition: transform 333ms linear;
}

.menu:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  will-change: opacity;
  pointer-events: none;
  transition: opacity 333ms linear;
}

.menu--visible.menu:after {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 333ms linear;
}