#admin-container {
  display: flex;
  justify-content: space-between;
  aside {
    display: flex;
    flex-basis: 20%;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    a {
      display: flex;
      flex-basis: 100%;
    }
    .button {
      font-size: 1em;
      background: #FFF;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      color: $burnt-sienna;
      &:hover {
        background: darken(#FFF, 5%);
      }
    }
  }
  main {
    display: flex;
    flex-basis: 79%;
    padding: 2em;
    h1 {
      font-family: "Yanone Kaffeesatz", sans-serif;
      font-size: 2.3rem;
    }
  }
}