#admin-container {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 1.3em;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .2);
  aside {
    display: flex;
    flex-basis: 20%;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    a {
      display: flex;
      flex-basis: 100%;
    }
    .button {
      font-size: 1em;
      margin-bottom: 1px;
      align-items: center;
      background: #444;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
  main {
    flex-basis: 78%;
    h1 {
      font-family: "Yanone Kaffeesatz", sans-serif;
      font-size: 2.3rem;
    }
  }
  i {
    width: 35px;
  }
  form {
    padding: 0;
    div {
      margin: 0;
    }
  }
}