html {
  position: relative;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  @media (min-width: 2460px) {
    font-size: calc(100vw * 0.006);
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $base-font;
  background: #eee;
  line-height: 1.6;
  &.nav {
    &--active {
      overflow: hidden;
    }
  }
}

a {
  color: $burnt-sienna;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

.gradient-wrapper {
  @include gradient($bay-of-many);
}

.wrapper {
  width: 75vw;
  margin: 0 auto;
  @media (max-width: 1000px) {
    max-width: 100%;
    width: 100%;
  }
}

h1 {
  font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.6;
  color: inherit;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

strong,
b {
  font-weight: normal;
  font-family: 'Open Sans SemiBold', sans-serif;
}

header {
  padding: 15px 10px;
  overflow: auto;
  /* clearfix */
  color: #fff;
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 75vw;
    margin: auto;
  }
}

.header-logo {
  display: flex;
  flex: 1;
  float: left;
  width: 20em;
  align-self: flex-start;
  justify-content: flex-start;
  flex-basis: 90%;
  h1 {
    line-height: 2.5;
  }
  height: auto;
  text-indent: -9999px;
  /* hides the text */
  background: url('../images/phph-logo-white.svg') no-repeat 1vw center;
  background-size: contain;
  @media (max-width: 768px) {
    margin: auto;
    float: none;
  }
}

.header-logo:hover {
  opacity: .9;
}

header .login-status-text {
  font-size: 14px;
  a:hover {
    color: #fff;
  }
}

.hero {
  padding-bottom: 25px;
  text-align: center;
}

@media (max-width: 600px) {
  .hero {
    font-size: .75em;
  }
}

.hero h1 {
  font-family: $fancy-heading;
  font-size: 4em;
  color: #ededf5;
  text-shadow: 0 3px 0 rgba(0, 0, 0, .15);
  font-weight: bold;
}

.hero p {
  width: 85%;
  margin: 0 auto;
  padding: 1em;
  line-height: 1.25;
  font-size: 1.5em;
  color: #ededf5;
  text-shadow: 0 2px 0 rgba(0, 0, 0, .15);
}

@media (max-width: 600px) {
  .hero p {
    width: 100%;
  }
}

.hero .register-button {
  display: block;
  width: 60%;
  margin: 0 auto;
  padding: .75em .5em;
  font-size: 1.5em;
  text-decoration: none;
  color: #fff;
  @include gradient($burnt-sienna);
  border-radius: 5px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, .15);
  -webkit-transition: all .05s;
  transition: all .05s;
}

@media (max-width: 600px) {
  .hero .register-button {
    width: 80%;
  }
}

.hero .register-button::after {
  content: ' »';
}

.hero .register-button:hover {
  box-shadow: none;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  cursor: pointer;
}

.content {
  flex: 1 0 auto;
  padding: 1em .5em;
  overflow: hidden;
  /* acts as a clearfix */
}

.content section {
  width: 50%;
  float: left;
  padding: .5em;
}

@media (max-width: 600px) {
  .content section {
    width: 100%;
  }
}

.content {
  h1 {
    margin-bottom: .5em;
    font-size: 1.5em;
    color: #2C3C61;
  }
  h2 {
    margin-bottom: .5em;
    font-size: 1.25em;
    color: #494D57;
  }
  p {
    color: #333;
    padding: .5em 0;
    a {
      text-decoration: none;
      font-size: inherit;
      &:hover {
        text-decoration: underline;
      }
    }
    strong {
      font-weight: 700;
      a {
        color: inherit;
      }
    }
  }
  ul {
    padding-left: 2rem;
    @media (max-width: 600px) {
      padding-left: 1rem;
    }
    li {
      //list-style-position: inside;
      padding-right: 1rem;
    }
  }
}

.small {
  font-size: 0.8rem;
}

.paypal-donate {
  background: none;
  padding: 0;
  margin: 0;
  input[type=image] {
    width: 200px;
    height: 76px;
  }
}

.announcement {
  display: block;
  position: relative;
  padding: .5em;
  width: 50%;
  margin: 20px auto;
  font-size: 1.15em;
  color: #3F3F3F;
  text-align: center;
  text-decoration: none;
  background: #B3B3B3;
  background-image: -webkit-linear-gradient(top, #CFCFCF, #B3B3B3);
  background-image: -moz-linear-gradient(top, #CFCFCF, #B3B3B3);
  background-image: -ms-linear-gradient(top, #CFCFCF, #B3B3B3);
  background-image: -o-linear-gradient(top, #CFCFCF, #B3B3B3);
  background-image: linear-gradient(to bottom, #CFCFCF, #B3B3B3);
  border-radius: 10px;
  border-bottom-left-radius: 0;
}

.announcement:hover {
  opacity: .9;
}

.announcement::before {
  content: '';
  position: absolute;
  left: -20px;
  bottom: 0;
  display: block;
  border: 10px solid #B3B3B3;
  border-top-color: transparent;
  border-left-color: transparent;
}

@media (max-width: 600px) {
  .announcement {
    width: 85%;
  }
}

.talks {
  padding: 0 1em;
  list-style: none;
}

p.talk-abstract {
  margin: .75em;
  padding: 0 1em;
  font-style: italic;
  font-size: .9em;
  border-left: 2px solid #ccc;
}

.content .contact-links li {
  list-style-position: inside;
}

footer {
  width: 100%;
  padding: 1em;
  background-color: #2E2E2E;
  color: #f5f5f5;
  text-align: center;
  @media (max-width: 768px) {
    padding: 1em 1em 4em 1em;
  }
}

footer .details {
  color: #666;
  font-size: .9em;
}

footer .details a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

footer .details a:hover {
  border-bottom: 2px solid;
}

footer .links {
  width: 100%;
  margin: 0 auto 1em;
  overflow: hidden;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  footer .links {
    width: 100%;
    margin-bottom: 10px;
  }
}

footer ul.links.flex {
  li {
    font-size: .9em;
    list-style: none;
    @media (max-width: 600px) {
      flex-basis: 30%;
    }
  }
  @media(max-width: 768px) {
    flex-direction: row;
  }
}

footer .links li a {
  display: block;
  padding: .25em;
  color: inherit;
  text-decoration: none;
  -webkit-transition: color .05s;
  transition: color .05s;
}

footer .links li a:hover {
  color: $burnt-sienna;
}

ul#videos li {
  width: 640px;
  display: block;
  border-bottom: 3px solid #223e80;
  padding-bottom: 20px;
  margin: 20px auto;
}

ul#videos li span.unbold {
  font-weight: normal;
}

ul#videos li .title {
  color: $burnt-sienna;
  font-size: 22px;
}

ul#videos li .speaker {
  padding-bottom: 15px;
}

ul#videos .video {
  height: 360px;
  width: 100%;
}

@media (max-width: 700px) {
  ul#videos li {
    width: auto;
  }
}

.error {
  color: #ff0000;
}

$buttonBgNotThere: #afafaf;
$buttonBgAttending: #81bf16;
$buttonText: #fff;
.attending-button,
.attending-button.is-attending {
  &:focus,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }
}

.attending-button {
  border: 1px solid darken($buttonBgNotThere, 15%);
  background-color: $buttonBgNotThere;
  display: inline-block;
  border-radius: 4px;
  color: $buttonText;
  padding: 2px 5px;
  margin: 0 5px;
  font-weight: normal;
  font-size: 0.9em;
}

.attending-button:hover {
  background-color: darken($buttonBgNotThere, 20%);
}

.attending-button.is-attending {
  background-color: $buttonBgAttending;
  border-color: darken($buttonBgAttending, 15%);
  color: $buttonText;
}

.attending-button.is-attending:hover {
  background-color: darken($buttonBgAttending, 10%);
}

.attending-button.is-attending:before {
  content: '\2713';
}

.button {
  @include button();
}