{% extends 'base.html.twig' %}
{% block title %}Admin{% endblock %}
{% block body %}
    <div id="admin-container">
        <main class="card">
            {% block main %}
                <h1>{{ title | default('Dashboard') }}</h1>
            {% endblock %}
        </main>
        <aside id="sidebar">
            <a class="button" href="{{ url('user_management') }}">Organisers</a>
            <a class="button" href="{{ url('event_management') }}">Events</a>
        </aside>
    </div>
{% endblock %}