{% extends 'admin/base.html.twig' %}
{% block title %}Organisers admin{% endblock %}
{% block main %}
    <h1>{{ title | default('Dashboard') }}</h1>
    <ul>
        {% for event in events|default %}
            <li><a href="{{ url('event_member_management', {'id':event.id}) }}">{{ event.fromDate|date('M Y') }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}