{% extends 'admin/base.html.twig' %}
{% block title %}Organisers admin{% endblock %}
{% block main %}
    <h1>{{ title | default('Dashboard') }}</h1>
    <ul>
        {% for event in events|default %}
            <li>{{ dump(event) }}</li>
        {% endfor %}
    </ul>
{% endblock %}