{% extends 'admin/base.html.twig' %}
{% block title %}Members{% endblock %}
{% block main %}
    {{ parent() }}
    {% if members is defined and members|length > 0 %}
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Contact</th>
            </tr>
            </thead>
            <tbody>
            {% for member in members|default %}
                <tr>
                    <td>{{ member.displayName }}</td>
                    <td><a href="mailto:{{ member.email }}">{{ member.email }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}