{% extends 'admin/base.html.twig' %}
{% block title %}Members{% endblock %}
{% block main %}
    <h1>{{ title | default('Dashboard') }}</h1>
    <ul>
        {% for member in members|default %}
            <li>{{ member.displayName }} &lt;{{ member.contact }}&gt;</li>
        {% endfor %}
    </ul>
{% endblock %}