{% extends 'admin/base.html.twig' %}
{% block title %}Organisers admin{% endblock %}
{% block main %}
    <h1>{{ title | default('Dashboard') }}</h1>
    <nav>
        <a href="{{ url('organiser_add') }}">Add new</a>
    </nav>
    <ul>
        {% for organiser in organisers|default %}
            <li>{{ organiser.displayName }} &lt;{{ organiser.email }}&gt;</li>
        {% endfor %}
    </ul>
{% endblock %}
