<footer>
    <div class="wrapper">
        <ul class="links flex">
            <li class="f1"><a target="_blank" rel="nofollow" href="https://github.com/phphants">GitHub</a></li>
            <li class="f1"><a target="_blank" rel="nofollow" href="https://twitter.com/phphants">Twitter</a></li>
            <li class="f1"><a href="{{ url('page', {'slug': 'chat'}) }}">IRC</a></li>
            <li class="f1"><a target="_blank" rel="nofollow" href="https://phpug.slack.com/">Slack</a></li>
            <li class="f1"><a target="_blank" rel="nofollow" href="https://php.ug/slackinvite">Slack Invite</a></li>
            <li class="f1"><a rel="nofollow" href="">Admin</a></li>
        </ul>
        <p class="details">
            <a href="{{ url('page', {'slug' : 'code-of-conduct'}) }}">Code of Conduct</a>
            | <a href="{{ url('page', {'slug' : 'team'}) }}">The Team</a>
        </p>
        <p class="details">&copy; {{ "now"|date('Y') }} PHP Hampshire CIC. All website source code available under <a
                    href="http://opensource.org/licenses/MIT">MIT license</a> from <a
                    href="https://github.com/phphants/phph-site">PHP Hampshire GitHub</a>.</p>
        <p class="details">PHP Hampshire CIC is registered in England and Wales, company number 09312297. VAT
            registered, number 226 583 594</p>
    </div>
</footer>