<header>
    <div class="wrapper">
        <a href="{{ url('page', {'slug': 'index'}) }}" class="header-logo"><h1>PHP Hampshire</h1></a>
        <a id="nav-button" class="nav-button" href="">Menu</a>
    </div>
</header>
